<!DOCTYPE html>
<html>
<head>
	<title> Makeup Database Home Page </title>
	<meta charset="utf-8" />
	<!-- If IE use the latest rendering engine -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--Set the page to the width ofte device and set the zoon level -->
	<meta name="viewport" content="width = device-width, initial-scal = 1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

</head>

<body>
	 <!--Navigation bar-->
	 <nav class = "navbar navbar-default">
                     <div class="container-fluid">
		               <ul class = "nav navbar-nav pull-right">
				         <li><a href="index.html">Home</a></li>
		                         <li><a href= '/inventory'>View Inventory</a></li>
		                         <li><a href='/addItem'>Add New Item</a></li>
		                         <li class="active"><a href='#'>Analysis</a></li>
		              </ul>
	             </div>
	</nav>
	<center><h1 class="text-muted">Analysis of your collection: </h1></center>
	<h3 class="text-muted">Total inventory spendings: ${{this.total}}</h3>
	<h3 class="text-muted">Number of empty products: {{this.empties}}</h3> 
	<h3 class="text-muted">Number of active products: {{this.actives}}</h3>
	<!--
	<center><h1 class="text-muted">Analysis</h1></center>
	<br>
	<center><p>Total spendings: </p></center>
	<p>{{total}}</p>
	<br>
	<center><p>Items in each category and spending breakdown</p></center> <!--make this into a table-->
	<br>
	<p>Spending in the last x days: </p> <!--allow user to select between 30, 60, or 90 days-->
	<br>
	-->
</body>
</html>
